version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node
    working_directory: ~/repo
    steps:
      - checkout
      - run: npm ci
      - run: npm run lint
      - run: npm run build

      - store_artifacts:
          path: ~/repo/public